html{
  width: 1000px;
  margin: 0 auto;
  color: #1B3B23;
  background-color: #FFF;
}
body{
  margin: 0px;
}
#wrapper{
  min-height: 100vh;
  background-color: #F9FFFA;
}
.wrapper-center{
  text-align: center;
}
a{
  text-decoration: none;
}
a:hover, button:hover{
  opacity: 0.7;
}
a:visited{
  text-decoration: none;
}
li{
  text-decoration: none;
}
ul{
  text-decoration: none;
}
button, input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button{
  border: none;
}
input{
  padding: 0px 5px;
  border: #F6F6F6 solid 1.5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
h1{
  font-size: 30;
  color: #3A7F4B;
}
.gray{
  color: #6C7D70;
}
/* ---- パーツ ---- */
.box{
  margin: 50px;
  padding: 50px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.form{
  margin: 0 auto;
}

.link-button{
  border-radius: 10px;
  color: #FFF;
  margin-left: 20px;
  background-color: #3A7F4B;
  font-size: 16px;
}
.button-big{
  padding: 15px 30px;
  font-size: 20;
}
.button-small{
  padding: 10px 30px;
}

/* ---- index.html ---- */
header{
  height: 40px;
  padding: 20px 30px;
  vertical-align: middle;
  background-color: #FFF;
}
header img{
  vertical-align: middle;
}
header .link-button{
  float: right;
}
#eyecatch{
  height: 440px;
  text-align: center;
  background-image: url("../img/ind-bg.png");
}
#eyecatch .link-button{
  position: relative;
  top: 180px;
}
#eye-1{
  position: relative;
  top: 100px;
  display: block;
  font-size: 45;
}
#eye-2{
  position: relative;
  top: 120px;
  display: block;
  font-size: 25;
}

#about{
  padding: 10px 50px 100px 50px;
}
#about p{
  margin: 50px 0;
}
#about h1 img{
  vertical-align: bottom;
}
#about #example{
  float: left;
  margin-right: 20px;
  width: 380px;
}
#about .link-button{
  margin: 0 auto;
}

/* ---- login.html ---- */
#login.box{
  margin: 100px auto;
  width: 50%;
  text-align: center;
}
#login.box h1{
  margin: 20px 0 50px 0;
  text-align: center;
}
#login.box form{
  margin: 0 auto;
  width: 80%;
}
#login.box label{
  text-align: left;
  display: block;
  color: #6C7D70;
  font-size: 12.5;
}
#login.box input{
  display: inline-block;
  height: 35px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  width: 100%;
}
#login.box button{
  margin: 40px 0;
}
#login.box a{
  float: right;
}