html{
  width: 1000px;
  margin: 0 auto;
  color: #1B3B23;
  background-color: #FFF;
}
body{
  margin: 0px;
  font-size: 15px;
}
#wrapper{
  min-height: 100vh;
  background-color: #F9FFFA;
}
.wrapper-center{
  text-align: center;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover, button:hover{
  opacity: 0.7;
}
a:visited{
  text-decoration: none;
}
li{
  text-decoration: none;
}
ul{
  text-decoration: none;
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button{
  border: none;
}
div.form{
  margin-bottom: 20px;
}
input[type="text"], input[type="password"]{
  display: inline-block;
  height: 35px;
  width: 100%;
  padding: 0px 5px;
  border: #F6F6F6 solid 1.5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
label.h{
  text-align: left;
  display: block;
  color: #6C7D70;
  font-size: 12.5;
}
label.radio{
  display: inline-block;
  margin-bottom: 10px;
  width: 130px;
  text-align: left;
}
input[type="radio"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="radio"] + span::before{
  display: inline-block;
  margin-right: 10px;

  content: '';
  box-sizing: border-box;
  border-radius: 100%;

  width: 15px;
  height: 15px;
  border: 2px #E2E2E2 solid;
}
input[type="radio"]:checked + span::before {
  border-width: 7.5px;
}
form{
  margin: 0 auto;
  width: 80%;
}
h1{
  font-size: 30;
  color: #3A7F4B;
}
h2{
  display: inline-block;
  margin: 0;
  padding-left: 55px;
  font-size: 30;
  font-weight: 300;
}
h2.okayu{
  background: url("../img/kama.png") no-repeat;
}
h2.loupe{
  background: url("../img/loupe.png") no-repeat;
}
h3{
  padding-left: 35px;
  margin: 10px 0;
  font-size: 23;
  font-weight: 300;
}
h3:hover{
  opacity: 0.7;
}
h3.cook{
  background: url("../img/cook.png") no-repeat;
}
.gray{
  color: #6C7D70;
}
/* ---- パーツ ---- */
.box{
  margin: 50px;
  padding: 50px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.box.post{
  margin: 30px 0;
  padding: 10px;
  border: #F6F6F6 solid 1.5px;
}


.post-bottom{
  position: relative;
  text-align: right;
}
.likes{
  position: absolute;
  top: 30px;
  left: 10px;
  color: #DF5656;
  padding-left: 25px;
  background: url("../img/like.png") no-repeat;
}
.post-user{
  display: inline-block;
}

.form{
  margin: 0 auto;
  text-align: left;
}

.user-icon{
  border-radius: 50%;
}
.user-icon-small{
  width: 45px;
}

.link-button{
  border-radius: 10px;
  color: #FFF;
  margin-left: 20px;
  background-color: #3A7F4B;
  font-size: 16px;
}
.button-big{
  padding: 15px 30px;
  font-size: 20;
}
.button-small{
  padding: 10px 30px;
}

/* ---- header ---- */
header{
  height: 40px;
  padding: 20px 80px;
  vertical-align: middle;
  background-color: #FFF;
}
header img{
  vertical-align: middle;
}
header .right{
  float: right;
}
header .right img{
  margin-left: 50px;
}
header .right-button{
  margin-top: 10px;
  float: right;
}

/* ---- index.html ---- */
#eyecatch{
  height: 440px;
  text-align: center;
  background-image: url("../img/ind-bg.png");
}
#eyecatch .link-button{
  position: relative;
  top: 180px;
}
#eye-1{
  position: relative;
  top: 100px;
  display: block;
  font-size: 45;
}
#eye-2{
  position: relative;
  top: 120px;
  display: block;
  font-size: 25;
}

#about{
  padding: 10px 50px 100px 50px;
}
#about p{
  margin: 50px 0;
}
#about h1 img{
  vertical-align: bottom;
}
#about #example{
  float: left;
  margin-right: 20px;
  width: 380px;
}
#about .link-button{
  margin: 0 auto;
}

/* ---- login.html ---- */
#login.box{
  margin: 100px auto;
  width: 50%;
  text-align: center;
}
#login.box h1{
  margin: 20px 0 50px 0;
  text-align: center;
}
#login.box button{
  margin: 40px 0;
}
#login.box a{
  float: right;
}

/* ---- top.html ---- */
.top-posts{
  margin-top: 80px;
  text-align: center;
}
.posts-2column{
  text-align: left;
  display: inline-block;
  width: 40%;
  margin: 0 30px;
}
.search{
  width: 90%;
  margin: 80 auto;
  text-align: center;
}
.search .box{
  margin-top: 20px;
}